* {
    box-sizing: border-box;
    text-align: left;
}
body {
    background-color: rgba(214, 174, 193, 0.521);
    text-align: left;
    font-family: Arial, sans-serif;
    padding: 20px;
    
}
nav {
 background-color: #f0f0f0;
 padding: 10px;
 text-align:center
}
 nav ul {
  list-style: none;
 margin: 0;
 padding: 0;
 display: inline-block;
 }
 nav li {
  display: inline-block;
  margin-right: 20px;
}
.menu-button {
  padding: 10px;
  margin-right: 100px;

}


h1 {
    color: #333;
    text-align: center;
    font-size: 36px;
}
p {
    color: rgb(3, 2, 2);
  
}

a {
  color: #0808ba;
}




.practice{
  color: rgb(172, 10, 34);
  text-align: center;
    font-size: 25px;
}

.note {
  color: #0808ba;
}

#main-title {
  color: blue;
  text-align: center;
  font-size: 36px;
  
}
#main-header {
  border: 1px solid #ccc;
  border-radius: 5px;
}